APP_NAME="Farn-Chat"
APP_ENV=development
APP_DEBUG=True
APP_URL=http://localhost:8080

APP_PORT=8080
MYSQL_PORT=3306
PHPMYADMIN_PORT=8081

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=farn_chat
DB_USER=root
DB_PASSWORD=
DB_ROOT_PASSWORD=root_secure_pass

SESSION_LIFETIME=120
