APP_NAME="Farn-Chat"
APP_ENV=development
APP_DEBUG=True
APP_URL=http://localhost:8080

APP_PORT=8080
MYSQL_PORT=3307
PHPMYADMIN_PORT=8081

MYSQL_DATABASE=farn_chat
MYSQL_USER=farn_chat_user
MYSQL_PASSWORD=farn_chat_pass
MYSQL_ROOT_PASSWORD=root_secure_pass

DB_HOST=mysql
DB_PORT=3306
DB_NAME=farn_chat
DB_USER=farn_chat_user
DB_PASSWORD=farn_chat_pass

SESSION_LIFETIME=120

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@farn-chat.local
MAIL_FROM_NAME="Farn-Chat"
